<!DOCTYPE html>
<html lang="ch-ZN">
<head>
  <meta charset="UTF-8">
  <title>map</title>
  <link rel="stylesheet" href="../dependency/leaflet/leaflet.css"/>
  <script src="../dependency/leaflet/leaflet.js"></script>

  <!-- 引入样式 -->
  <link rel="stylesheet" href="../dependency/element-ui/lib/theme-chalk/index.css">

  <script src="../js/vue.js"></script>
  <!-- 引入组件库 -->
  <script src="../dependency/element-ui/lib/index.js"></script>
  <script src="../dependency/axios/dist/axios.js"></script>
  <script src="../js/common.js"></script>
  <link rel="stylesheet" href="../css/map.css"/>

</head>
<body>
  <div id="app">
    <div @mousedown.stop @wheel.stop id="action_box_show">
      <el-row>
        <el-col :span="24">
          <el-menu>
            <el-submenu index="1">
              <el-checkbox slot="title" v-model="label_type_0.show" :indeterminate="label_type_0.show==='null'" @change="label_type_0_option_box(0)">标注</el-checkbox>
              <el-submenu :index="'1-'+index" :key="item.id"  v-for="(item,index) in label_type_0.data">
                <el-checkbox slot="title" v-model="item.show" :indeterminate="item.show==='null'" @change="label_type_0_option_box(1,index)">{{item.labelName}}</el-checkbox>
                <el-menu-item v-for="(item1,index1) in item.example_data" :key="item1.id" :id="item1.id">
                  <el-checkbox v-model="item1.show" @change="label_type_0_option_box(2,index,index1)">{{JSON.parse(item1.labelGeojson).geometry.coordinates+''}}</el-checkbox>
                </el-menu-item>
              </el-submenu>
            </el-submenu>

            <el-submenu index="2">
              <el-checkbox slot="title" v-model="label_type_1.show" :indeterminate="label_type_1.show==='null'" @change="label_type_1_option_box(0)">事件</el-checkbox>
              <el-submenu :index="'2-'+index" :key="item.id"  v-for="(item,index) in label_type_1.data">
                <el-checkbox slot="title" v-model="item.show" :indeterminate="item.show==='null'" @change="label_type_1_option_box(1,index)">{{item.labelName}}</el-checkbox>
                <el-menu-item v-for="(item1,index1) in item.example_data" :key="item1.id" :id="item1.id">
                  <el-checkbox v-model="item1.show" @change="label_type_1_option_box(2,index,index1)">{{JSON.parse(item1.labelGeojson).geometry.coordinates+''}}</el-checkbox>
                </el-menu-item>
              </el-submenu>
            </el-submenu>

            <el-submenu index="3">
<!--              <span slot="title">林地</span>-->
              <el-checkbox slot="title" v-model="woods.show" :indeterminate="woods.show==='null'" @change="all_checked(woods.data,(data)=>data,woods,false)">林地</el-checkbox>
              <el-menu-item v-for="item in woods.data" :key="item.id" :id="item.id">
                <el-checkbox v-model="item.show" @change="all_checked(woods.data,(data)=>data,woods,true)">{{item.woodsName}}</el-checkbox>
              </el-menu-item>
            </el-submenu>

          </el-menu>
        </el-col>
      </el-row>
    </div>

    <div id="action_box_label" @mousemove.stop @mousedown.stop @mouseup.stop v-show="action_box.focus==='label'||action_box.focus==='default'">
      <el-row>
        <el-col>
<!--          <el-button class="button_big" v-show="action_box.label.flag" @click="complete_selection_label">-->
          <el-button class="button_big" @click.stop="point_finish" v-show="action_box.label.flag" >
            标点完成
          </el-button>
        </el-col>
      </el-row>
      <el-row>
        <el-col>
          <el-button class="button_big" @click.stop="change_label_flag">
            {{action_box.label.flag?"取消添加标注":"添加标注"}}
          </el-button>
        </el-col>
      </el-row>

      <el-dialog
          width="40%"
          :visible="action_box.label.add_flag"
          center
          :append-to-body="true"
          :show-close="false"
          :before-close="point_finish"
          title="添加标注">
        <el-form ref="label_form" :rules="label_rules" :model="action_box.label.new_label">
          <el-form-item prop="labelId">
            <el-row>
              <el-col :span="4">标注类型</el-col>
              <el-col :span="20">
                <el-cascader
                    v-model="action_box.label.new_label.labelId"
                    :props="{
                  expandTrigger:'hover',
                  emitPath:false
                }"
                    :options="action_box.label.label_type">
                </el-cascader>
              </el-col>
            </el-row>
          </el-form-item>

          <el-form-item prop="exampleContent">
            <el-row>
              <el-col :span="4">情况描述</el-col>
              <el-col :span="20">
                <el-input
                    v-model="action_box.label.new_label.exampleContent"
                    type="textarea">
                </el-input>
              </el-col>
            </el-row>
          </el-form-item>

          <el-form-item prop="exampleImgs">
            <el-row>
              <el-col :span="4">实地图片</el-col>
              <el-col :span="20">
                <el-upload
                    class="avatar-uploader"
                    :accept="'image/jpg'"
                    list-type="picture"
                    :limit="5"
                    :on-exceed="img_limit"
                    :on-success="label_upload_img_success"
                    :on-remove="label_upload_img_remove"
                    action="/upload_img/example">
                  <i class="el-icon-plus avatar-uploader-icon"></i>
                </el-upload>
              </el-col>
            </el-row>
          </el-form-item>
        </el-form>

        <el-row slot="footer">
          <el-col :span="12">
            <el-button @click="point_finish">取消</el-button>
          </el-col>
          <el-col :span="12">
            <el-button @click="notarize_add_label">确认添加</el-button>
          </el-col>
        </el-row>
      </el-dialog>
    </div>

    <div id="action_box_detail" @click.stop @mousemove.stop @mousedown.stop @mouseup.stop v-show="action_box.detail.show">
      <el-container style="width: 400px">
        <el-main>

          <div v-if="action_box.detail.type==='woods'">
<!--            {{action_box.detail.data}}-->
            <el-row>
              <el-col :span="4">林地名称</el-col>
              <el-col :span="10">
                {{action_box.detail.data.woodsName}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">林地编号</el-col>
              <el-col :span="10">
                {{action_box.detail.data.woodsNumber}}
              </el-col>
            </el-row>

          </div>

<!--          事件/标注名称 事件状态 事件描述  上报/标注人 上报时间 上报图片    处理人 处理时间 处理图片   -->
          <div v-if="action_box.detail.type==='label_0'">
            <el-row>
              <el-col :span="4">标注名称</el-col>
              <el-col :span="10">
                {{action_box.detail.data.dtoMap.Label.labelName}}
              </el-col>
<!--              <el-col :span="4">事件状态</el-col>-->
<!--              <el-col :span="10">-->
<!--                {{action_box.detail.data.dtoMap.Label.labelName}}-->
<!--              </el-col>-->
            </el-row>

            <el-row>
              <el-col :span="4">标注描述</el-col>
              <el-col>
                {{action_box.detail.data.dtoMap.Label.labelRemark}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">标注人</el-col>
              <el-col :span="10">
                {{action_box.detail.data.dtoMap.PersonalInformation.username}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">标注时间</el-col>
              <el-col :span="10">
                {{get_time(action_box.detail.data.dtoMap.LabelExample.createTime)}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">情况描述</el-col>
              <el-col :span="10">
                {{action_box.detail.data.dtoMap.LabelExample.exampleContent}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">标注图片</el-col>
              <el-col>
                  <el-image class="img_div" v-for="item in action_box.detail.data.dtoMap.LabelExample.exampleImgs.split(',')" fit="fill" :src="get_img(item)"></el-image>
              </el-col>
            </el-row>

            <el-row v-if="gt_position(action_box.detail.data.dtoMap.PersonalInformation.position)||eq_pi_id(action_box.detail.data.dtoMap.PersonalInformation.id)">
              <el-col :span="10">
                <el-button @click="delete_label(action_box.detail.data.dtoMap.LabelExample.id)">删除</el-button>
              </el-col>
            </el-row>
          </div>

          <div v-if="action_box.detail.type==='label_1'">
            <el-row>
              <el-col :span="4">事件名称</el-col>
              <el-col :span="8">
                {{action_box.detail.data.dtoMap.Label.labelName}}
              </el-col>
              <el-col :span="4">事件状态</el-col>
              <el-col :span="8">
                {{action_box.detail.data.dtoMap.LabelExample.exampleStatus===0?"待处理":"已处理"}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">事件描述</el-col>
              <el-col>
                {{action_box.detail.data.dtoMap.Label.labelRemark}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">上报人</el-col>
              <el-col :span="10">
                {{action_box.detail.data.dtoMap.PersonalInformation.username}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">上报时间</el-col>
              <el-col :span="10">
                {{get_time(action_box.detail.data.dtoMap.LabelExample.createTime)}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">情况描述</el-col>
              <el-col :span="10">
                {{action_box.detail.data.dtoMap.LabelExample.exampleContent}}
              </el-col>
            </el-row>

            <el-row>
              <el-col :span="4">上报图片</el-col>
              <el-col>
                <el-image class="img_div" v-for="item in action_box.detail.data.dtoMap.LabelExample.exampleImgs.split(',')" fit="fill" :src="get_img(item)"></el-image>
              </el-col>
            </el-row>

            <el-row v-if="action_box.detail.data.dtoMap.LabelExample.exampleStatus===0">
              <el-col :span="10">
                <el-button @click="submit_label">提交</el-button>
              </el-col>
            </el-row>

            <div v-if="action_box.detail.data.dtoMap.LabelExample.exampleStatus===1">
              <el-row>
                <el-col :span="4">处理人</el-col>
                <el-col :span="10">
                  {{action_box.detail.data.dtoMap.DealWithPersonalInformation.username}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">处理时间</el-col>
                <el-col :span="10">
                  {{get_time(action_box.detail.data.dtoMap.LabelExample.dealWithTime)}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">处理报告</el-col>
                <el-col>
                  {{action_box.detail.data.dtoMap.LabelExample.dealWithContent}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">处理图片</el-col>
                <el-col>
                  <el-image class="img_div" v-for="item in action_box.detail.data.dtoMap.LabelExample.dealWithImgs.split(',')" fit="fill" :src="get_img(item)"></el-image>
                </el-col>
              </el-row>

              <el-row v-if="action_box.detail.data.dtoMap.LabelExample.exampleStatus===0">
                <el-col :span="10">
                  <el-button @click="submit_label">提交</el-button>
                </el-col>
              </el-row>
            </div>

            <el-row v-if="gt_position(action_box.detail.data.dtoMap.PersonalInformation.position)||eq_pi_id(action_box.detail.data.dtoMap.PersonalInformation.id)">
              <el-col :span="10">
                <el-button @click="delete_label(action_box.detail.data.dtoMap.LabelExample.id)">删除</el-button>
              </el-col>
            </el-row>
          </div>
        </el-main>
      </el-container>

      <el-drawer
          :close-on-press-escape="false"
          :before-close="close_label_drawer_flag"
          :show-close="false"
          :append-to-body="true"
          direction="ltr"
          size="50%"
          :visible="label_drawer.flag">
        <h2 slot="title">提交事件</h2>

        <el-container>
          <el-main>

            <div v-if="action_box.detail.type==='label_1'">
              <el-row>
                <el-col :span="4">事件名称</el-col>
                <el-col :span="8">
                  {{action_box.detail.data.dtoMap.Label.labelName}}
                </el-col>
                <el-col :span="4">事件状态</el-col>
                <el-col :span="8">
                  {{action_box.detail.data.dtoMap.LabelExample.exampleStatus===0?"待处理":"已处理"}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">事件描述</el-col>
                <el-col>
                  {{action_box.detail.data.dtoMap.Label.labelRemark}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">上报人</el-col>
                <el-col :span="10">
                  {{action_box.detail.data.dtoMap.PersonalInformation.username}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">上报时间</el-col>
                <el-col :span="10">
                  {{get_time(action_box.detail.data.dtoMap.LabelExample.createTime)}}
                </el-col>
              </el-row>

              <el-row>
                <el-col :span="4">上报图片</el-col>
                <el-col>
                  <el-image class="img_div" v-for="item in action_box.detail.data.dtoMap.LabelExample.exampleImgs.split(',')" fit="fill" :src="get_img(item)"></el-image>
                </el-col>
              </el-row>
            </div>

            <el-card>
              <el-form ref="submit_label" :model="label_drawer.data" :rules="submit_label_rules">
                <el-form-item prop="dealWithContent">
                  <el-row>
                    <el-col :span="4">事件报告</el-col>
                    <el-col :span="10">
                      <el-input v-model="label_drawer.data.dealWithContent"></el-input>
                    </el-col>
                  </el-row>
                </el-form-item>

                <el-form-item prop="dealWithImgs">
                  <el-row>
                    <el-col :span="4">图片</el-col>
                    <el-col :span="10">
                      <el-upload
                          class="avatar-uploader"
                          :accept="'image/jpg'"
                          list-type="picture"
                          :limit="5"
                          :on-exceed="img_limit"
                          :on-success="submit_label_upload_img_success"
                          :on-remove="submit_label_upload_img_remove"
                          action="/upload_img/example">
                        <i class="el-icon-plus avatar-uploader-icon"></i>
                      </el-upload>
                    </el-col>
                  </el-row>
                </el-form-item>

                <el-row>
                  <el-col :span="10">
                    <el-button @click="close_label_drawer_flag">
                      取消
                    </el-button>
                  </el-col>
                  <el-col :span="10" >
                    <el-button @click="notarize_submit_label">
                      提交
                    </el-button>
                  </el-col>
                </el-row>
              </el-form>
            </el-card>

          </el-main>
        </el-container>

      </el-drawer>
    </div>

    <div id="action_box_woods" @mousemove.stop @mousedown.stop @mouseup.stop v-show="action_box.focus==='woods'||action_box.focus==='default'">
      <el-row>
        <el-col>
          <el-button class="button_big" v-show="action_box.woods.flag" @click="complete_selection_woods">
            选区完成
          </el-button>
        </el-col>
      </el-row>
      <el-row v-if="gt_position(0)">
        <el-col>
          <el-button class="button_big" @click="change_woods_flag">
            {{action_box.woods.flag?"取消添加林地":"添加林地"}}
          </el-button>
        </el-col>
      </el-row>

      <el-dialog
          title="添加林地"
          :visible="action_box.woods.add_flag"
          :before-close="complete_selection_woods"
          append-to-body
          close-on-click-modal
          :show-close="false"
          center
          width="30%">
        <div>

          <el-form ref="add_woods_form" :rules="woods_rules" :model="action_box.woods.new_woods">

            <el-row>
              <el-col>
                <span>林地名称</span>
              </el-col>
              <el-col>
                <el-form-item prop="woodsName">
                  <el-input v-model="action_box.woods.new_woods.woodsName">
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>

            <el-row>
              <el-col>
                <span>林地编号</span>
              </el-col>
              <el-col>
                <el-form-item prop="woodsNumber">
                  <el-input v-model="action_box.woods.new_woods.woodsNumber">
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>

          </el-form>

        </div>

        <div slot="footer">
          <el-row>
            <el-col :offset="2" :span="10">
              <el-button class="button_small" @click="complete_selection_woods">取消</el-button>
            </el-col>
            <el-col :span="10">
              <el-button class="button_small" @click="notarize_add_woods">添加林地</el-button>
            </el-col>
          </el-row>
        </div>

      </el-dialog>
    </div>

  </div>

</body>

  <script>


    var app=new Vue({
      el:'#app',
      data(){
        return{
          action_box:{
            focus:"default",
            woods:{
              flag:false,
              add_flag:false,
              layer:null,
              latlngs:[],
              new_woods:{
                woodsGeojson:"",
                woodsName:"",
                woodsNumber:""
              }
            },
            label:{
              flag:false,
              add_flag:false,
              layer:null,
              label_type: [
                {
                  value:"0",
                  label:"普通标注",
                  children:[]
                },
                {
                  value: "1",
                  label: "事件标注",
                  children: []
                }
              ],
              new_label:{
                labelGeojson:"",
                exampleImgs:"",
                labelId:"",
                exampleContent:""
              }
            },
            detail:{
              show:false,
              type:"",
              data:null
            }
          },
          label_type_0:{
            data:[],
            show:true,
            layer_group:null,
            layers:null
          },
          label_type_1:{
            data:[],
            show:true,
            layer_group:null,
            layers:null
          },
          label:{
            data:null,
          },
          label_example:{
            data:null
          },
          woods:{
            data:null,
            show:true,
            layer_group:null,
            layers:null,
          },
          map:null,
          label_drawer:{
            flag:false,
            data:{
              id:null,
              dealWithContent:null,
              dealWithImgs:null
            }
          },
          woods_rules:{
            woodsNumber:[
              {required:true,message:"err",trigger:"change"}
            ],
            woodsName:[
              {required:true,message:"err",trigger:"change"}
            ],
          },
          label_rules:{
            exampleImgs:[
              {required:true,message:"err",trigger:"change"}
            ],
            labelId:[
              {required:true,message:"err",trigger:"change"}
            ],
            exampleContent:[
              {required:true,message:"err",trigger:"change"}
            ]
          },
          submit_label_rules:{
            dealWithContent:[
              {required:true,message:"err",trigger:"change"}
            ],
            dealWithImgs:[
              {required:true,message:"err",trigger:"change"}
            ]
          }

        }
      },
      mounted: function () {
        this.init_map();
        this.get_woods_data().then(function () {
          app.add_all_woods();
          app.adjust_view();
        });
        Promise.all([this.get_label_data(),this.get_label_example_data()]).then(function (){
          app.integrate_label_data();
          app.example_label_type_0();
          app.example_label_type_1();
          app.watch_label();
        })
      },
      watch:{
        "woods.data":{
          handler: "refresh_woods",
          deep:true
        },
        "action_box.woods.flag":[
          "add_woods","change_action_box_show"
        ],
        "action_box.label.flag":[
            "add_label","change_action_box_show"
        ],
      },
      methods:{
        /**
         * 初始化地图
         */
        init_map:function (){
          this.map=L.map("app",{
            center:[2,3],
            zoom:10,
            //版权控件
            attributionControl:false,
            //缩放控件
            zoomControl:false,
            //双击缩放
            doubleClickZoom:false
          });
          L.tileLayer("https://webst01.is.autonavi.com/appmaptile?style=6&x={x}&y={y}&z={z}",{
          }).addTo(this.map);
          //初始化woods图层组
          this.woods.layer_group=L.layerGroup().addTo(this.map) ;
          //添加show控件
          let control_show=L.control({position: 'topleft'});
          control_show.onAdd=function (){
            return L.DomUtil.get("action_box_show");
          }
          control_show.addTo(this.map);
          //添加 woods添加 控件
          let control_woods=L.control({position:'bottomleft'});
          control_woods.onAdd=function (){
            return L.DomUtil.get("action_box_woods");
          }
          control_woods.addTo(this.map);
          //添加 label添加 控件
          let control_label=L.control({position:'bottomleft'});
          control_label.onAdd=function (){
            return L.DomUtil.get("action_box_label");
          }
          control_label.addTo(this.map);
          //添加详细信息控件
          let control_detail=L.control({position:'topright'});
          control_detail.onAdd=function (){
            return L.DomUtil.get("action_box_detail");
          }
          control_detail.addTo(this.map);
        },
        /**
         * 调整view至包含整个layer_group
         */
        adjust_view:function(){
          let latLngBounds = L.latLngBounds();
          this.woods.layer_group.eachLayer(function (layer){
            latLngBounds.extend(layer.getBounds());
          })
          this.map.fitBounds(latLngBounds);
        },
        /**
         * 将woods_data中geojson创建geojson图层添加到woods_layer_group和woods_layers
         */
        add_all_woods:function(){
          this.woods.layers=new Map();
          for (let woodsDataKye in this.woods.data) {
            let woods_data=this.woods.data[woodsDataKye]
            let woodsgeojson=JSON.parse(woods_data.woodsGeojson);
            let layer=L.geoJSON(woodsgeojson,{style:function (){return {color: 'red'}}});
            layer.addEventListener("click",function (e){app.click_layer(e,"woods",woods_data)});
            layer.addTo(this.woods.layer_group);
            this.woods.layers.set(this.woods.data[woodsDataKye].id,layer);
          }
        },
        /**
         * 获取林地数据
         * @returns {Promise<void>}
         */
        get_woods_data:async function (){
          await axios.get("/woods").then(response =>{
            for (let dataKey in response.data.data) {
              response.data.data[dataKey].show=true;
            }
            this.woods.data=response.data.data;
          })
        },
        /**
         * 判断是否全选
         * @param data 数组数据
         * @param fun 从数据中返回判断值,定位到.show上一层
         * @param data_show 总判断值
         * @param is_sub 是否为列单选框
         */
        all_checked:function (data,fun,data_show,is_sub){
          if(is_sub){
            let b=fun(data[0]).show;
            for (let dataKey in data) {
              if (fun(data[dataKey]).show!==b){
                data_show.show="null";
                return;
              }
            }
            data_show.show=b;
          }else if(!is_sub){
            for (let dataKey in data) {
              fun(data[dataKey]).show=data_show.show
            }
          }
        },
        /**
         * 刷新woods图层
         */
        refresh_woods:function (){
          this.refresh_layer(this.woods.data,
              (data)=>data.show,this.woods.layer_group,this.woods.layers);
        },
        /**
         * 刷新图层
         * @param data 总数据
         * @param fun 返回show
         * @param layer_group 所在图层组
         * @param layers 图层实例map
         */
        refresh_layer:function (data,fun,layer_group,layers){
          if (!layers)return;
          layer_group.clearLayers();
          for (let dataKey in data) {
            if (data[dataKey].show){
              layers.get(data[dataKey].id).addTo(layer_group);
            }
          }
        },
        /**
         * 更改woods.flag
         */
        change_woods_flag:function (){
          this.action_box.woods.flag=!this.action_box.woods.flag;
        },
        /**
         * 添加woods
         */
        add_woods:function (e){
          if (this.action_box.woods.flag){
            this.map.dragging.disable();
            this.map.scrollWheelZoom.disable();
            this.map.addEventListener("mousedown",this.woods_mousedown);
            this.map.addEventListener("mouseup",this.woods_mouseup);
          }else {
            this.map.dragging.enable();
            this.map.scrollWheelZoom.enable();
            this.map.removeEventListener("mousedown",this.woods_mousedown);
            this.map.removeEventListener("mouseup",this.woods_mouseup);
            this.action_box.woods.latlngs=[];
            if (this.action_box.woods.layer!=null)this.action_box.woods.layer.remove();
            this.action_box.woods.layer=null;
          }
        },
        woods_mousedown:function (e){
          this.map.addEventListener("mousemove",this.woods_mousemove)
          this.action_box.woods.latlngs=[];
        },
        woods_mouseup:function (e){
          this.map.removeEventListener("mousemove",this.woods_mousemove)
          if (this.action_box.woods.latlngs.length<3&&this.action_box.woods.layer!=null){
              this.action_box.woods.layer.remove();
              this.action_box.woods.layer=null;
          }
          if (this.action_box.woods.layer!=null){
            this.action_box.woods.layer.remove();
            this.action_box.woods.layer=L.polygon(this.action_box.woods.latlngs).addTo(this.map);
          }
        },
        woods_mousemove:function (e){
          this.action_box.woods.latlngs.push(e.latlng);
          if (this.action_box.woods.layer!=null)this.action_box.woods.layer.remove();
          this.action_box.woods.layer= L.polyline(this.action_box.woods.latlngs).addTo(this.map);
        },
        /**
         * 完成选区
         */
        complete_selection_woods:function (){
          if (this.action_box.woods.layer!=null){
            this.action_box.woods.add_flag=!this.action_box.woods.add_flag;
          }else {
            this.$message.info("请先选择区域");
          }

        },
        /**
         * 确认添加woods
         */
        notarize_add_woods:function (){
          this.$refs["add_woods_form"].validate(function (b,obj){
            if (b){
              app.action_box.woods.new_woods.woodsGeojson = JSON.stringify(app.action_box.woods.layer.toGeoJSON());
              axios.post("/woods",{...app.action_box.woods.new_woods}).then(function (res){
                if (res.data.code===1){
                  window.parent.app.$message.success(res.data.data);
                  location.reload();

                }else {
                  app.$message.error(res.data.msg);
                }
              })
            }
          })

        },
        /**
         * 改变action_box.show
         */
        change_action_box_show(){
          this.action_box.woods.flag?this.action_box.focus="woods":
              this.action_box.label.flag?this.action_box.focus="label":
                  this.action_box.focus="default";
        },
        /**
         * 改变label.flag
         */
        change_label_flag(){
          this.action_box.label.flag=!this.action_box.label.flag;
        },
        /**
         * 获取label数据
         */
        get_label_data:async function (){
          await axios.get("/label").then(function (res){
            if (res.data.code===1){
              app.label.data=res.data.data;
            }
          })
        },
        /**
         * 获取label_example数据
         * @returns {Promise<void>}
         */
        get_label_example_data:async function (){
          await axios.get("/label_example").then(function (res){
            if (res.data.code===1){
              app.label_example.data=res.data.data;
            }
          })
        },
        /**
         * 合并label和label_example数据
         */
        integrate_label_data:function (){
          for (let i = 0; i < this.label.data.length; i++) {
            this.$set(this.label.data[i],"example_data",[])
            this.$set(this.label.data[i],"show",true)
            for (let j = 0; j<this.label_example.data.length;j++){
              if (this.label.data[i].id===this.label_example.data[j].labelId){
                this.$set(this.label_example.data[j],"show",true);
                this.label.data[i].example_data.push(this.label_example.data[j]);
              }
            }
            this.label.data[i].labelType===0?this.label_type_0.data.push(this.label.data[i]):this.label_type_1.data.push(this.label.data[i])
          }
        },
        /**
         * label_type_0选项框
         */
        label_type_0_option_box:function (position,n,nn){
          if (position===0){
            let show = this.label_type_0.show;
            for (let i=0;i<this.label_type_0.data.length;i++){
              this.label_type_0.data[i].show=show;
              for (let j=0;j<this.label_type_0.data[i].example_data.length;j++){
                this.label_type_0.data[i].example_data[j].show=show;
              }
            }
          }else if (position===1){
            // 上层
            let j=0;
            for (let i=0;i<this.label_type_0.data.length;i++){
              if (this.label_type_0.data[i].show!==this.label_type_0.data[0].show)j++;
            }
            j===0?this.label_type_0.show=this.label_type_0.data[0].show:
                this.label_type_0.show="null"
            // 下层
            for (let i=0;i<this.label_type_0.data[n].example_data.length;i++){
              this.label_type_0.data[n].example_data[i].show=this.label_type_0.data[n].show;
            }
          }else if (position===2){
            // 中层
            let j=0;
            for (let i=0;i<this.label_type_0.data[n].example_data.length;i++){
              if (this.label_type_0.data[n].example_data[i].show!==this.label_type_0.data[n].example_data[0].show)j++;
            }
            j===0?this.label_type_0.data[n].show=this.label_type_0.data[n].example_data[0].show:
                this.label_type_0.data[n].show="null";
            // 上层
            j=0;
            for (let i=0;i<this.label_type_0.data.length;i++){
              if (this.label_type_0.data[i].show!==this.label_type_0.data[0].show)j++;
            }
            j===0?this.label_type_0.show=this.label_type_0.data[0].show:
                this.label_type_0.show="null";
          }
        },
        /**
         * 实例化label_type_0
         */
        example_label_type_0:function (){
          this.label_type_0.layer_group=L.layerGroup();
          this.label_type_0.layer_group.addTo(this.map);
          this.label_type_0.layers=new Map;
          for (let i=0;i<this.label_type_0.data.length;i++){
            this.label_type_0.data[i].icon = L.icon(
                this.icon_options(this.label_type_0.data[i].labelImg)
            )
            for (let j=0;j<this.label_type_0.data[i].example_data.length;j++){
              let label_data=this.label_type_0.data[i].example_data[j];
              let geojson=JSON.parse(label_data.labelGeojson);
              let layer=L.marker(geojson.geometry.coordinates,{
                icon:this.label_type_0.data[i].icon
              });
              layer.addEventListener("click",function (e){app.click_layer(e,"label_0",label_data)});
              layer.addTo(this.label_type_0.layer_group);
              this.label_type_0.layers.set(this.label_type_0.data[i].example_data[j].id,layer);
            }
          }

        },
        /**
         * label_type_1选项框
         */
        label_type_1_option_box:function (position,n,nn){
          if (position===0){
            let show = this.label_type_1.show;
            for (let i=0;i<this.label_type_1.data.length;i++){
              this.label_type_1.data[i].show=show;
              for (let j=0;j<this.label_type_1.data[i].example_data.length;j++){
                this.label_type_1.data[i].example_data[j].show=show;
              }
            }
          }else if (position===1){
            // 上层
            let j=0;
            for (let i=0;i<this.label_type_1.data.length;i++){
              if (this.label_type_1.data[i].show!==this.label_type_1.data[0].show)j++;
            }
            j===0?this.label_type_1.show=this.label_type_1.data[0].show:
                this.label_type_1.show="null"
            // 下层
            for (let i=0;i<this.label_type_1.data[n].example_data.length;i++){
              this.label_type_1.data[n].example_data[i].show=this.label_type_1.data[n].show;
            }
          }else if (position===2){
            // 中层
            let j=0;
            for (let i=0;i<this.label_type_1.data[n].example_data.length;i++){
              if (this.label_type_1.data[n].example_data[i].show!==this.label_type_1.data[n].example_data[0].show)j++;
            }
            j===0?this.label_type_1.data[n].show=this.label_type_1.data[n].example_data[0].show:
                this.label_type_1.data[n].show="null";
            // 上层
            j=0;
            for (let i=0;i<this.label_type_1.data.length;i++){
              if (this.label_type_1.data[i].show!==this.label_type_1.data[0].show)j++;
            }
            j===0?this.label_type_1.show=this.label_type_1.data[0].show:
                this.label_type_1.show="null";
          }
        },
        /**
         * 实例化label_type_1
         */
        example_label_type_1:function (){
          this.label_type_1.layer_group=L.layerGroup();
          this.label_type_1.layer_group.addTo(this.map);
          this.label_type_1.layers=new Map;
          for (let i=0;i<this.label_type_1.data.length;i++){
            this.label_type_1.data[i].icon = L.icon(
                this.icon_options(this.label_type_1.data[i].labelImg)
            )
            for (let j=0;j<this.label_type_1.data[i].example_data.length;j++){
              let label_data=this.label_type_1.data[i].example_data[j];
              let geojson=JSON.parse(label_data.labelGeojson);
              let layer=L.marker(geojson.geometry.coordinates,{
                icon:this.label_type_1.data[i].icon
              })
              layer.addEventListener("click",function (e){app.click_layer(e,"label_1",label_data)});
              layer.addTo(this.label_type_1.layer_group);
              this.label_type_1.layers.set(this.label_type_1.data[i].example_data[j].id,layer);
            }
          }
        },
        /**
         * 刷新label_type_0实例
         */
        // refresh_example_label_type_0:function (){
        //   this.label_type_0.layer_group.clearLayers();
        //   console.log(this.label_type_0)
        //   for (let i=0;i<this.label_type_0.data.length;i++){
        //     for (let j=0;j<this.label_type_0.data[i].example_data.length;j++){
        //       if (this.label_type_0.data[i].example_data[j].show===true){
        //         console.log(this.label_type_0.data[i].example_data[j].id);
        //         this.label_type_0.layers.get(this.label_type_0.data[i].example_data[j].id).addTo(this.label_type_0.layer_group);
        //       }
        //     }
        //   }
        // },
        refresh_example_label_type_0:function (id,b){
          b?this.label_type_0.layers.get(id).addTo(this.label_type_0.layer_group):
              this.label_type_0.layers.get(id).removeFrom(this.label_type_0.layer_group);
        },
        /**
         * 刷新label_type_1实例
         */
        refresh_example_label_type_1:function (id,b){
          b?this.label_type_1.layers.get(id).addTo(this.label_type_1.layer_group):
              this.label_type_1.layers.get(id).removeFrom(this.label_type_1.layer_group);
        },
        /**
         * 侦听label
         */
        watch_label:function (){
          for (let i = 0; i < app.label_type_0.data.length; i++) {
            for (let j = 0; j < app.label_type_0.data[i].example_data.length; j++) {
              app.$watch(
                  function (){
                    return app.label_type_0.data[i].example_data[j].show;
                  },
                  function (){
                    app.refresh_example_label_type_0(app.label_type_0.data[i].example_data[j].id,app.label_type_0.data[i].example_data[j].show);
                  }
              )
            }
          }
          for (let i = 0; i < app.label_type_1.data.length; i++) {
            for (let j = 0; j < app.label_type_1.data[i].example_data.length; j++) {
              app.$watch(
                  function (){
                    return app.label_type_1.data[i].example_data[j].show;
                  },
                  function (){
                    app.refresh_example_label_type_1(app.label_type_1.data[i].example_data[j].id,app.label_type_1.data[i].example_data[j].show);
                  }
              )
            }
          }
        },
        /**
         * 获取icon设置
         */
        icon_options:function (img_name){
          return {
            iconUrl:the_path+"/download_img/"+img_name,
            iconSize:[28,40],
            iconAnchor:[14,40]
          }
        },
        /**
         * 添加label
         */
        add_label:function (e){
          if (this.action_box.label.flag){
            this.map.dragging.disable();
            this.map.scrollWheelZoom.disable();
            this.map.addEventListener("click",this.label_click);
          }else {
            this.map.dragging.enable();
            this.map.scrollWheelZoom.enable();
            this.map.removeEventListener("click",this.label_click);
            this.action_box.label.layer.removeFrom(this.map);
          }
        },
        label_click:function (e){
          if (this.action_box.label.layer){
            this.action_box.label.layer.removeFrom(this.map);
          }
          this.action_box.label.layer=L.marker(e.latlng).addTo(this.map);

        },
        /**
         * 标点完成
         */
        point_finish:function (){
          if (!this.action_box.label.layer){
            this.$message.info("请先完成标点");
            return;
          }else {
            let geoJSON=this.action_box.label.layer.toGeoJSON()
            geoJSON.geometry.coordinates.reverse();
            this.action_box.label.new_label.labelGeojson=JSON.stringify(geoJSON);
          }
          if (!this.action_box.label.add_flag){
            this.get_label_type();
          }else {
            this.action_box.label.new_label={
              labelGeojson:"",
              exampleImgs:"",
              labelId:"",
              exampleContent:""
            }
          }
          this.action_box.label.add_flag=!this.action_box.label.add_flag;

        },
        /**
         * 获取label_type数据
         */
        get_label_type:function (){
          this.action_box.label.label_type[0].children=[]
          this.action_box.label.label_type[1].children=[]
          for (let i = 0; i < this.label_type_0.data.length; i++) {
            this.action_box.label.label_type[0].children.push({
              value:this.label_type_0.data[i].id,
              label:this.label_type_0.data[i].labelName
            })
          }
          for (let i = 0; i < this.label_type_1.data.length; i++) {
            this.action_box.label.label_type[1].children.push({
              value:this.label_type_1.data[i].id,
              label:this.label_type_1.data[i].labelName
            })
          }
        },
        /**
         * 超出图片限制
         */
        img_limit:function (files,fileList){
          app.$message.error("图片数量过多");
        },
        /**
         * label实例图片上传钩子
         */
        label_upload_img_success:function (res,files,fileList){
          this.label_upload_img_remove(files,fileList);
        },
        label_upload_img_remove:function (files,fileList){
          let s=""
          for (let i = 0; i < fileList.length; i++) {
            s+=fileList[i].response.data+',';
          }
          this.action_box.label.new_label.exampleImgs=s.slice(0,s.length-1);
        },
        /**
         *确认添加label
         */
        notarize_add_label:function (){
          this.$refs["label_form"].validate(function (b){
            if (b){
              axios.post("/label_example",{...app.action_box.label.new_label}).then(function (res){
                if (res.data.code===1){
                  window.parent.app.$message.success("添加标注成功");
                  location.reload();
                }
              })
            }
          })

        },
        /**
         * 开启action_box.detail.show
         */
        open_detail:function (){
          app.action_box.detail.show=true;
        },
        /**
         * 关闭action_box.detail.show
         */
        close_detail:function (){
          app.action_box.detail.show=false;
        },
        close_detail_e:function (){
          app.close_detail();
          app.map.removeEventListener("click",app.close_detail_e);
        },
        /**
         * 点击图层
         */
        click_layer:function (e,type,data){
          if (app.action_box.label.flag)return;
          console.log("xxx")
          L.DomEvent.stopPropagation(e);
          app.action_box.detail.type=type;
          if (type==="woods"){
            app.action_box.detail.data=data;
            app.open_detail();
          }else {
            axios.get("/label_example/all_correlation",{
              data:{
                id:data.id
              }
            }).then(function (res){
              if (res.data.code===1){
                app.action_box.detail.data=res.data.data;
                app.open_detail();
              }
            })
          }

          app.map.addEventListener("click",app.close_detail_e);
        },
        /**
         * 映射年月日
         */
        get_time(b){
          return get_time(b);
        },
        /**
         * 映射图片路径
         */
        get_img:function (name){
          return get_img(name);
        },
        /**
         * 开启label_drawer.flag
         */
        open_label_drawer_flag:function (){
          app.label_drawer.flag=true;
        },
        /**
         * 关闭label_drawer.flag
         */
        close_label_drawer_flag:function (){
          app.label_drawer.flag=false;
        },
        /**
         * 提交事件
         */
        submit_label:function (){
          app.open_label_drawer_flag();
          app.label_drawer.data={
            id:app.action_box.detail.data.dtoMap.LabelExample.id,
            dealWithContent:"",
            dealWithImgs:""
          }
        },
        /**
         * label实例图片上传钩子
         */
        submit_label_upload_img_success:function (res,files,fileList){
          this.submit_label_upload_img_remove(files,fileList);
        },
        submit_label_upload_img_remove:function (files,fileList){
          let s=""
          for (let i = 0; i < fileList.length; i++) {
            s+=fileList[i].response.data+',';
          }
          this.label_drawer.data.dealWithImgs=s.slice(0,s.length-1);
        },
        /**
         * 确认提交事件
         */
        notarize_submit_label:function (){
          this.$refs["submit_label"].validate(function (b){
            if (b){
              axios.put("/label_example/submit",{...app.label_drawer.data}).then(function (res){
                if (res.data.code===1){
                  window.parent.app.$message.success("事件处理提交成功");
                  location.reload();
                }
              })
            }
          })
        },
        /**
         * 大于position判断
         */
        gt_position:function (i){
          return gt_position(i);
        },
        /**
         * id是否相同
         */
        eq_pi_id:function (id){
          return eq_pi_id(id);
        },
        /**
         * 删除
         */
        delete_label:function (id){
          app.$confirm("确认删除？","提示",{
            type:"info"
          }).then(function (){
            axios.delete("/label_example",{
              data:{
                id:id
              }
            }).then(function (res){
              if (res.data.code===1){
                window.parent.app.$message.success("删除标注成功");
                location.reload();
              }
            })
          }).catch(function (){
          })
        }
      }
    })
  </script>
</html>