<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forestchiefmanagementsystem.mapper.LabelMapper">

    <resultMap id="BaseResultMap" type="com.forestchiefmanagementsystem.pojo.Label">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="labelName" column="label_name" jdbcType="CHAR"/>
            <result property="labelImg" column="label_img" jdbcType="CHAR"/>
            <result property="labelType" column="label_type" jdbcType="INTEGER"/>
            <result property="labelRemark" column="label_remark" jdbcType="VARCHAR"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="CHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,label_name,label_img,
        label_type,label_remark,is_delete,
        create_time,create_user,update_time,
        update_user
    </sql>
</mapper>
