<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forestchiefmanagementsystem.mapper.TaskMapper">

    <resultMap id="BaseResultMap" type="com.forestchiefmanagementsystem.pojo.Task">
            <id property="id" column="id" jdbcType="CHAR"/>
            <result property="sendPersonId" column="send_person_id" jdbcType="CHAR"/>
            <result property="taskType" column="task_type" jdbcType="INTEGER"/>
            <result property="labelId" column="label_id" jdbcType="CHAR"/>
            <result property="taskDeadline" column="task_deadline" jdbcType="INTEGER"/>
            <result property="taskStatus" column="task_status" jdbcType="INTEGER"/>
            <result property="taskContent" column="task_content" jdbcType="VARCHAR"/>
            <result property="receptionPersonId" column="reception_person_id" jdbcType="CHAR"/>
            <result property="taskReport" column="task_report" jdbcType="VARCHAR"/>
            <result property="taskImgs" column="task_imgs" jdbcType="CHAR"/>
            <result property="taskCompletion" column="task_completion" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="is_delete" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createUser" column="create_user" jdbcType="CHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateUser" column="update_user" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,send_person_id,
        task_type,label_id,task_deadline,
        task_status,task_content,reception_person_id,
        task_report,task_imgs,
        task_completion,is_delete,create_time,
        create_user,update_time,update_user
    </sql>
</mapper>
